.counter {
    margin: 20px auto;
    background: #dddddd;
    height: 45vh;
}

.counter h3 {
    text-align: center;
    padding: 30px 0;
    font-size: 28px;
}

@media all and (max-width: 1378px) {
    .counter h3 {
        font-size: 25px;
    }
}

@media all and (max-width: 992px) {
   .counter {
       height: 100%;
       padding: 20px;
   }

   .counter h3 {
       padding: 0;
   }
}

@media all and (max-width: 652px) {
    .counter h3 {
        font-size: 16px;
    }
 }