@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400&display=swap');

.site-header {
    height: 100vh;
    background-color: #dddddd;
    padding-top: 50px;
}

.site-header-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header-section-img:hover {
    transition: all 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    transform: perspective(1000px) rotateX(-5deg) rotateY(-15deg) scale3d(1, 1, 1);
}

.site-header-section-description {
    font-family: 'DM Sans', sans-serif;
}

.site-header-section-description p {
    color: #52526C;
    line-height: 1.25;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
    margin-right: 50px;
}

.site-header-section-description h1,
h3 {
    color: #000248;
    margin: 12px 0;
}

.site-header-section-description h1 {
    font-size: 32px;
}

.site-header-section-description h3 {
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
}

@media all and (min-width: 1900px) {
    .site-header {
        padding: 0;
    }

    .site-header-section {
        height: 80%;
    }

    .site-header-section-description p {
        font-size: 32px;
    }
    
    .site-header-section-description h1 {
        font-size: 40px;
    }
    
    .site-header-section-description h3 {
        font-size: 36px;
    }
}

@media all and (max-width: 1330px) {
    .site-header-section-description p {
        font-size: 16px;
    }
    
    .site-header-section-description h1 {
        font-size: 22px;
    }
    
    .site-header-section-description h3 {
        font-size: 18px;
    }

    .site-header-section-img {
        width: 100%;
    }

    .site-header-section-img-container {
        width: 22%;
    }
}

@media all and (max-width: 885px) {
    .site-header-section-description p {
        font-size: 14px;
    }
    
    .site-header-section-description h1 {
        font-size: 18px;
    }
    
    .site-header-section-description h3 {
        font-size: 16px;
    }

    .site-header-section-img-container {
        width: 26%;
    }
}

@media all and (max-width: 768px) {
    .site-header-section {
        padding: 30px;
    }

    .site-header-section-img-container {
        width: 30%;
    }
}

@media all and (max-width: 680px) {
    .site-header-section-img-container {
        width: 50%;
    }
}

@media all and (max-width: 600px) {
    .site-header-section-img-container {
        width: 60%;
    }
}

@media all and (max-width: 550px) {
    .site-header-section-description p {
        font-size: 13px;
    }
    
    .site-header-section-description h1 {
        font-size: 16px;
    }
    
    .site-header-section-description h3 {
        font-size: 14px;
    }

    .site-header-section-img-container {
        width: 70%;
    }
}

@media all and (max-width: 480px) {
    .site-header {
        padding-top: 20px;
    }

    .site-header-section {
        flex-direction: column;
        padding: 0;
    }

    .site-header-section-description {
        text-align: center;
    }

    .site-header-section-description p {
        margin: 20px;
    }

    .site-header-section-img-container {
        margin-top: 10px;
        width: 55%;
    }
}