.feature {
    display: flex;
    max-width: 29vw;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.left {
    order: 0
}

.right {
    order: 1
}

.feature-header .fa {
    font-size: 34px;
    border: 1px solid gray;
    padding: 24px 26px;
    border-radius: 50%;
    background: gray;
    color: white;
    margin: 0 20px;
}

.feature-main p {
    color: #757589;
    font-style: italic;
    margin-top: 10px;
}

.feature-main h4 {
    margin-bottom: 0;
}