.features-article {
    color: #757589;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    line-height: 1.65;
}

.features-article p {
    padding: 0 100px;
}

.features-article h2 {
    font-size: 30px;
    color: #000248;
    font-weight: 700;
}

@media all and (max-width: 680px) {
    .features-article p {
        padding: 0 20px;
        font-size: 13px;
    }

    .features-article h2 {
        font-size: 16px;
    }
}