.feature {
    display: flex;
    max-width: 33vw;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
}

.left {
    order: 0
}

.right {
    order: 1
}

.feature-header .fa {
    font-size: 34px;
    border: 1px solid gray;
    padding: 20px 21px;
    border-radius: 50%;
    background: #7e71d6;
    color: white;
    margin: 0 40px;
}

.feature-main p {
    color: #757589;
    font-style: italic;
    margin-top: 10px;
    font-size: 14px;
}

.feature-main h4 {
    margin-bottom: 0;
    font-size: 16px;
}

@media all and (min-width: 1700px) {
    .feature-header .fa {
        font-size: 40px;
    }
    
    .feature-main p {
        font-size: 20px;
    }
    
    .feature-main h4 {
        font-size: 23px;
    }
}


@media all and (min-width: 2300px) {
    .feature-header .fa {
        font-size: 50px;
    }
    
    .feature-main p {
        font-size: 26px;
    }
    
    .feature-main h4 {
        font-size: 30px;
    }
}

@media all and (max-width: 1300px) {
    .feature-header .fa {
        font-size: 28px;
        padding: 18px 19px;
        margin: 0 20px;
    }

    .feature {
        max-width: 35vw;
    }
}

@media all and (max-width: 1150px) {
    .feature {
        flex-direction: column;
        align-items: flex-end;
    }

    .right {
        order: 0;
        align-self: flex-start;
    }

    .feature-main {
        padding: 0 20px;
    }
}

@media all and (max-width: 1024px) {
    .feature {
        max-width: 45vw;
        flex-direction: row;
    }

    .left {
        align-self: center;
    }

    .right {
        align-self: center;
    }

    .feature-header {
        align-self: flex-start;
        margin-top: 18px;
    }

    .feature-header .fa {
        background: #7e71d6;
        font-size: 20px;
        padding: 12px 13px;
        margin: 0;
    }
}

@media all and (max-width: 770px) {
    .feature {
        max-width: 50vw;
    }
}

@media all and (max-width: 660px) {
    .feature {
        max-width: 90vw;
    }

    .feature-header .fa {
        margin: 0;
    }
}