.site-footer {
    background: #dddddd;
    height: 15vh;
    padding: 10px;
}

.site-footer-contacts ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.site-footer-contacts ul li i {
    margin-right: 20px;
    font-size: 22px;
    color: #000248a8;
}

.site-footer-rights {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    color: #757589;
}   